# ------ Python generico ------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/
.eggs/
build/
dist/
.pytest_cache/
.ipynb_checkpoints/
.cache/
.mypy_cache/
.pytype/
.dmypy.json
.coverage
htmlcov/

# Versioni/interpreti
.python-version

# ------ Ambienti virtuali ------
.venv/
venv/
env/
.conda/

# ------ Editor/OS ------
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# ------ Vari segreti ------
.env
*.env
.env.*

# ------ Output progetto (generati) ------
Sistema di raccomandazione/Classificatore/Output/
Sistema di raccomandazione/prototipi_music/*.txt
Creazione dei prototipi/music_for_cocos/
Creazione dei prototipi/data/*.log
